/* Estilos para una página simple */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A2F; /* color de fondo */
  color: rgba(10, 0, 0, 0.2);
  background-image: url('images/background.png');
}

h1[fakePorperty="color:"] {
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin: 4mm; margin-left: 8mm;
}

/* Este es un comentario que ignora lo siguiente:
.invalid {
   color: red;
   background-image: url("images/blue.png");
}
*/

@media
  screen and
  (max-width: 600px
  ) {
  body
  {
    font-size: 14px;
  }
}

.button[fakeColor="green"] {
  background-image: url("images/button.png");
  border: 1px solid green;
  color: #f0f0f0;
}
