/* Estilos para un formulario */

form {
  background-color: white;
  border-color: #000000;
  background-image: url('form/background.png');
}

input[type="text"] {
  border: 1px solid #000000;
  color: black;
  background-image: url('form/input-bg.png');
}

button.submit {
  background-color: rgb(0, 128, 0);
  color: white;
  cursor: pointer;
}

/*
@media print {
  button.submit {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  input[type="text"] {
    font-size: 12px;
    background-image: url("mobile/input-bg.png");
  }
}
*/

